.signup-page{
    margin-top: 4rem;
}
.signup-form{
    padding: 1rem;
    display: grid;
    grid-auto-rows: 2rem;
    grid-row-gap: 0.5rem;
}

.signup-form input:focus,
.signup-form select:focus{
   outline: none;
   background: #99ffa22e;
   border-color:#54ff57;
}

.signup-form input:not([type="checkbox"]),
.signup-form select{
    border: 1px solid rgba(75, 75, 75, 0.46)!important;
    font-style: inherit;
    padding: 0.2rem;
}

.signup-form input[type="checkbox"]{
    border: 1px solid #ccc;
    background: white;
    width: 1rem!important;
    height: 1rem;
    vertical-align: middle;
}

.signup-title{
    text-align: center;
    font-size: 1.6rem;
    color: #ff5454;
}

.signup-form label{
    font-weight: bold;
}

.signup-form label,
.signup-form input,
.signup-form select{
    display: block;
    
    width: 100%;
   
}

.signup-form input[id*="terms"],
.signup-form input[id*="terms"] + label{
    display: inline-block;
    width: auto;
}


.signup-form button[type="submit"]{
    display: block;
    
}

.signup-form input:invalid,
.signup-form select:invalid{
    border-color:   red !important;
    background: rgba(255, 124, 124, 0.582);
}

@media(min-width:43.6rem){
.signup-form{
    margin: auto;
    width: 30rem;
    grid-template-columns: 10rem auto;
    grid-row-gap: 1rem;
    grid-column-gap: 0.5rem;
}

.signup-form__checkbox{
    grid-column: span 2;
}



.select-title{
    grid-column: span 2;
}
}